@using System.Globalization;
@using Site.Models
@model Site.Models.COURSE

@{
    ViewData["Title"] = "ModifyCourses";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Course</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.COU_NAME, "Name:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.COU_NAME, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.COU_NAME, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.COU_SEM, "Semester:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.COU_SEM, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.COU_SEM, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.COU_YEAR, "Year:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.COU_YEAR, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.COU_YEAR, "", new { @class = "text-danger" }) YYYY
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.COU_START_DATE, "Start Date:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.COU_START_DATE, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.COU_START_DATE, "", new { @class = "text-danger" })  YYYY-MM-DD
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.COU_END_DATE, "End Date:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.COU_END_DATE, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.COU_END_DATE, "", new { @class = "text-danger" }) YYYY-MM-DD
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
