@model Site.Models.COURSE

@{
    ViewData["Title"] = "Delete Course";
}


@{
    // checks if model exists
    if (Model != null)
    {
        <h2>Remove Course</h2>

        <h3>Confirm Course Delete: <span class="warning">Are you sure you want to delete this Course?</span></h3>

        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>Course ID: @Html.DisplayFor(model => model.COURSE_ID)</dt>
                <dt>Name: @Html.DisplayFor(model => model.COU_NAME)</dt>
                <dt>Year: @Html.DisplayFor(model => model.COU_YEAR)</dt>
                <dt>Semester: @Html.DisplayFor(model => model.COU_SEM)</dt>
            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Yes, Delete Course" class="" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    }
    else
    {
        // no model = not instructor, show proper permission message
        <h2>@ViewBag.PermissionMsg</h2>
    }
}

