@using System.Globalization;
@using Site.Models
@model IEnumerable<COURSE>

@{
    ViewData["Title"] = "ModifyCourses";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Courses</h2>
<div>
    <ul>
        <li>@Html.ActionLink("Add Course", "Create",  "ModifyCourses")</li>
    </ul>
</div>

<table class="coursetable">
    <tr>
        <th>Course</th>
        <th>Semester</th>
        <th>Year</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Course ID</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>@Html.DisplayFor(modelItem => item.COU_NAME)</td>
    <td>@Html.DisplayFor(modelItem => item.COU_SEM)</td>
    <td>@Html.DisplayFor(modelItem => item.COU_YEAR)</td>
    <td>@Html.DisplayFor(modelItem => item.COU_START_DATE)</td>
    <td>@Html.DisplayFor(modelItem => item.COU_END_DATE)</td>
    <td>@Html.DisplayFor(modelItem => item.COURSE_ID)</td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.COURSE_ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.COURSE_ID })
    </td>
</tr>
    }

</table>