@using Site.Models
@model IEnumerable<ROSTER>

@{ if (Model != null)
    {
        <h2>Course/Student Roster</h2>
        
        <div>
            <ul>
                <li>@Html.ActionLink("Add to Roster", "Create", "ModifyRoster")</li>
            </ul>
        </div>

        <table class="coursetable">
            <tr>
                <th>Course</th>
                <th>Student Name</th>
                <th>Student Username</th>
                <th></th>
            </tr>

            @foreach (var roster in Model)
            {
                <tr>
                    <!--<td>@Html.DisplayFor(modelItem => roster.ROSTER_ID)</td>-->
                    <td>@Html.DisplayFor(modelItem => roster.COURSE.COU_NAME)</td>
                    <td>
                        @Html.DisplayFor(modelItem => roster.USER.L_NAME), @Html.DisplayFor(modelItem => roster.USER.F_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => roster.USER.USERNAME)
                    </td>

                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = roster.ROSTER_ID })
                    </td>
                </tr>
            }
        </table>

    }
    else
    {
        // no model sent means user was not instructor, display permission message
        <h2> @ViewBag.NotPermitted</h2>
    }
}