@{ ViewData["Title"] = "Account"; }

<p>Account features here.</p>


@using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
{
    <form id="PasswordChange" method="post">
        <p>@ViewBag.PasswordChange</p>
        <p><label>Current Password:</label> <input name="CurrentPassword" type="text"></p>
        <p><label>New Password:</label> <input name="NewPassword" type="text"></p>
        <p><label>Confirm New Password:</label><input name="ConfirmNewPassword" type="text"></p>
        <p class="submit"><input type="submit" value="Change Password" />
    </form>
}
@if(Model)
{
<ul>
    <li><a href="@Url.Action("ModifyUsers", "Home", null)">Modify Users</a></li>
    <li>@Html.ActionLink("Modify Courses", "Index", "ModifyCourses")</li>
    @* <li>@Html.ActionLink("Modify Courses", "Index", "ModifyCourses", new { id = userID })</li>*@
    <li><a href="@Url.Action("ModifyQuizzes", "Home", null)">Modify Quizzes</a></li>
    <li><a href="@Url.Action( "ModifyGrades", "Home", null)">Modify Grades</a></li>
    @*  <li>@Html.ActionLink("Modify Users", "ModifyUsers", "Home", new { @class = "" })</li>
        <li>@Html.ActionLink("Modify Courses", "ModifyCourses", "Home", new { @class = "" })</li>
        <li>
            @Html.ActionLink("Modify Quizzes", "ModifyQuizzes", "Home", new { @class = "" })
        </li>
        <li>
            @Html.ActionLink("Modify Grades", "ModifyGrades", "Home", new { @class = "" })</li>*@

</ul>
}


<!--
-->