@{ ViewData["Title"] = "Home"; }




<div class="text-center">
    @if(System.Web.HttpContext.Current.Session["UserSessionID"] != null && System.Web.HttpContext.Current.Session["UserSessionID"].ToString() != "")
    {
        <h2>Welcome to Mobile Quiz Over Wi-Fi, @System.Web.HttpContext.Current.Session["UserName"]</h2>

        <ul>
            <li><a href="@Url.Action("Quizzes", "Home", null)">View Quizzes</a></li>
            <li><a href="@Url.Action("Account", "Home", null)">Your Account</a></li>
            @if(@System.Web.HttpContext.Current.Session["User_isInstructor"].ToString() == "True")
            {
            <li><a href="@Url.Action("Modify", "Home", null)">Modify</a></li>
            }
        </ul>
    }
    else
    {
        <h2>Welcome to Mobile Quiz Over Wifi.</h2>
        <p>You are not logged in.</p>
        <a href="@Url.Action("LogIn", "Home", null)">Log In</a>
    }
</div>
