
@{
    ViewBag.Title = "Modify";
}

<h2>Modify</h2>

@{ if (ViewBag.IsInstructor == false)
    {
        <h2>@ViewBag.Msg</h2>
    }
    else
    {
        <ul>
            <li>@Html.ActionLink("Modify Courses", "Index", "ModifyCourses")</li>
            <!--<li>@Html.ActionLink("Modify Grades", "Index", "ModifyGrades")</li>-->
            <li>@Html.ActionLink("Modify Quizzes", "Index", "ModifyQuizzes")</li>
            <li>@Html.ActionLink("Modify Roster", "Index", "ModifyRoster")</li>
            <li>@Html.ActionLink("Modify Users", "Index", "ModifyUsers")</li>
        </ul>
        <ul>
            <li>@Html.ActionLink("Assign Student to Course", "Create", "ModifyRoster")</li>
            <li>@Html.ActionLink("Assign Quiz to Course", "Index", "ModifyCourseQuiz")</li>
        </ul>
    }
}
