
@{
    ViewBag.Title = "Modify";
    // This is the base modify page that leads to all the other modify links
}

<h2>Modify</h2>

@{ if (ViewBag.IsInstructor == false)
    {
        // User is not instructor, receive instead of the view
        <h2>@ViewBag.Msg</h2>
    }
    else
    {
        // User is instructor, display the modify links
        <ul>
            <li>@Html.ActionLink("Modify Courses", "Index", "ModifyCourses")</li>
            <li>@Html.ActionLink("Modify Grades", "Index", "ModifyGrades")</li>
            <li>@Html.ActionLink("Modify Quizzes", "Index", "ModifyQuizzes")</li>
            <li>@Html.ActionLink("Modify Roster", "Index", "ModifyRoster")</li>
            <li>@Html.ActionLink("Modify Users", "Index", "ModifyUsers")</li>
        </ul>
        <ul>
            <li>@Html.ActionLink("Assign Student to Course", "Create", "ModifyRoster")</li>
            <li>@Html.ActionLink("Assign Quiz to Course", "Index", "ModifyCourseQuiz")</li>
        </ul>
    }
}
