@{
    ViewData["Title"] = "Quiz";
    // make a count variable to make radio buttons work by incrementing their ids
    int count = 1;
    bool isInstructor;
    var sessionVar = HttpContext.Current.Session["User_isInstructor"];
    if (sessionVar != null)
    {
        isInstructor = (bool)sessionVar;
    }
    else
    {
        isInstructor = false;
    }
}
<h1>@ViewBag.QuizName</h1>
<!--    foreach QuestionData q in Model(which is an instantiated QuestionData.cs object) we start to build html to display the questions
        TODO Make this page display a single question instead of all of them. Have a button for next question/ previous question appropriate based on if it is the first/last question. Have a submit button that sends the ResponseList of responses to the controller.

    TODO Check if this quiz is already submitted.  IE A row in GRADE exists for this quiz
-->


@if (Model is List<Site.Models.QuestionData>)
{
    using (Html.BeginForm("SubmitQuiz", "Home", new { qui_ID = ViewBag.Quiz_ID }, FormMethod.Post))
    {

        foreach (var q in Model)
        {
            if (q.que_ID != null)
            {
                <p>Question @count / @Model.Count</p>
                if (q.type_ID.Contains("MCR"))
                {
                    @Html.Partial("_MultipleChoiceRadio", q as Site.Models.QuestionData);
                }
                if (q.type_ID.Contains("SA"))
                {
                    @Html.Partial("_ShortAnswer", q as Site.Models.QuestionData)
                }
                if (q.type_ID.Contains("FB"))
                {
                    @Html.Partial("_FillInBlank", q as Site.Models.QuestionData)
                }
                if (q.type_ID.Contains("MCC"))
                {
                    @Html.Partial("_MultipleChoiceCheck", q as Site.Models.QuestionData)
                }
                <hr />
                count++;
            }

        }
        if (!isInstructor)
        {
            <p class="submit"><input type="submit" value="Submit Quiz" /></p>
        }

    }
}
else if (Model is Int32)
{
    <p>Your score was @Model out of @ViewBag.PointTotal</p>
    if(ViewBag.NeedFurtherGrading == 1)
    {
            <p>It may need further grading from your instructor come back later.</p>
    }
}





