@using Site.Models
@model Site.Models.QUIZ
@{
    ViewData["Title"] = "ModifyQuizzes";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update Quiz</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.QUI_ID)

        <div class="form-group">
            @Html.LabelFor(model => model.QUI_NAME, "Quiz Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QUI_NAME, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.QUI_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QUI_NOTES, "Notes:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QUI_NOTES, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.QUI_NOTES, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <div>
                <input type="submit" value="Save" class="btn buttonStyle" />
            </div>
        </div>
    </div>

}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>