@using System.Globalization;
@using Site.Models
@model IEnumerable<QUIZ>

@{
    ViewData["Title"] = "ModifyQuizzes";
}

<h2>Quizzes</h2>

<div>
    <ul>
        <li>@Html.ActionLink("Add Quiz", "Create",  "ModifyQuizzes")</li>
    </ul>
</div>

<table class="coursetable">
    <tr>
        <th>Quiz Name</th>
        <th>Notes</th>
        <th>Quiz ID</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.QUI_NAME)</td>
            <td>@Html.DisplayFor(modelItem => item.QUI_NOTES)</td>
            <td>@Html.DisplayFor(modelItem => item.QUI_ID)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.QUI_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.QUI_ID }) | 
                @Html.ActionLink("Edit Question", "../ModifyQuestions/Index", new { id = item.QUI_ID })

            </td>
        </tr>
    }

</table>