@using System.Globalization;
@using Site.Models
@model IEnumerable<USER>

@{
    ViewData["Title"] = "Modify Users";
}

@{
    // checks for a model, if exists, user is instructor, show view with model data
    if (Model != null)
    {
        // displays the users
        <h2>Users</h2>
        <div>
            <ul>
                <li>@Html.ActionLink("Add User", "Create", "ModifyUsers")</li>
            </ul>
        </div>

        <table class="coursetable">
            <tr>
                <!--<th>User ID</th>-->
                <th>Last Name</th>
                <th>First Name</th>
                <th>Username</th>
                <th>Password</th>
                <th>Is Instructor</th>
                <th></th>
            </tr>

            @foreach (var user in Model)
            {
        <tr>
            <!--<td>@Html.DisplayFor(modelItem => user.USER_ID)</td>-->
            <td>@Html.DisplayFor(modelItem => user.L_NAME)</td>
            <td>@Html.DisplayFor(modelItem => user.F_NAME)</td>
            <td>@Html.DisplayFor(modelItem => user.USERNAME)</td>
            <td>@Html.DisplayFor(modelItem => user.PASSWORD)</td>
            <td>@Html.DisplayFor(modelItem => user.IS_INSTRUCTOR)</td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = user.USER_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = user.USER_ID })
            </td>
        </tr>
            }
        </table>
    }
    else
    {
        // no model sent means user was not instructor, display permission message
        <h2> @ViewBag.NotPermitted</h2>
    }
}